extends layout

block content
    hr
    h1 Данные о студенте
    hr
    p= 'Имя студента: ' + article.title
    p= 'Группа студента: ' + article.author
    p= 'Средний бал студента: ' + article.body
    hr
    a.btn.btn-primary(href='/articles/edit/'+article._id style="text-decoration: none") Изменить
    a.btn.btn-danger(href='#' style="text-decoration: none" id=article._id class="delete-art") Удалить


